<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Asia climate change</h1>
    <img src="https://credendo.com/sites/default/files/media/images/2022-12/Graph_Asia4EN.jpg" alt="asia statistics"
    width="700" height="550">
    <br>
    <img src="https://credendo.com/sites/default/files/media/images/2023-02/Graph1_Asia_Jan2023_0.png" alt="asia statistics2"
    width="700" height="550"><br>
    <a href="https://wmo.int/news/media-centre/climate-change-impacts-increase-asia">more info about climate change in asia </a>
</body>
</html>