<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>australia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Australia climate change</h1>
    <img src="https://www.climatechangeinaustralia.gov.au/media/ccia/2.2/cms_page_media/258/SoTC2020_ag1_V52_900w.png" alt="australia statistics"
    width="700"><br>
    <a href="https://www.climatechangeinaustralia.gov.au/">more info about climate change in australia</a>
</body>
</html>