<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Europe climate change</h1>
    <img src="https://www.eea.europa.eu/api/SITE/data-and-maps/figures/global-left-and-european-land-3/fig1-267463-clim001-v6.eps/FIG1-267463-CLIM001-v6.eps.75dpi.png" alt="europe statistics"
    width="700" height="550"> <br>
    <a href="https://www.eea.europa.eu/en/topics/in-depth/climate-change-impacts-risks-and-adaptation">more info about climate change in europe </a>

</body>
</html>