<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North america</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>North america climate change</h1>
    <img src="https://www.epa.gov/system/files/styles/large/private/images/2024-06/temperature_figure1_2024.png?itok=QrDQcf9D" alt="north america statistics"
    width="700" height="550"><br>
    <a href="https://www.ipcc.ch/report/ar6/wg2/chapter/chapter-14/">more info about climate change in north america</a>
</body>
</html>