<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South america</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>South america climate change</h1>
    <img src="https://wmo.int/sites/default/files/styles/prose_1x/public/2023-07/Picture155.png?itok=eKF2mmnA" alt="south america statistics"
    width="700">
    <br>
    <img src="https://www.thelancet.com/cms/10.1016/j.lana.2023.100470/asset/67536e4c-b0ab-41c9-8279-5a5b31189930/main.assets/gr1_lrg.jpg" alt="south america statistics2"
    width="700"><br>
    <a href="https://www.nature.com/articles/s43247-024-01654-7#:~:text=South%20America%20has%20also%20experienced,pronounced%20in%20some%20regions%20(Fig.">more info about climate change in south america</a>
</body>
</html>