body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,167,1) 0%, rgba(60,60,214,1) 40%, rgba(84,182,255,1) 69%);
    margin: 0;
    text-align: center;
    padding: 20px;
}


h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 20px;  
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    padding: 20px;
    background-color: #ADD8E6;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
}

form {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
}

label, select {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 40%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.section1 {
    text-align: left;
}

.section2 {
    text-align: right;
    margin-top: -14.25%;
    margin-right: 5%;
}

a{
    color: black;
}
